*.pid
*.xml
*.csr
*.crt
*.key
*.jpg
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
.*
ip_bans.yaml
zones.yaml
.HA_VERSION
*.err
.storage
*.html
g-actions
entity_registry.yaml
delete-gmail-email.sh
emptyinbox.py
abbcookie.txt
*.json
backlog_tasmota.yaml
