*.pid
*.xml
*.json
*.csr
*.crt
*.key
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
.*
html5_push_registrations.conf
ip_bans.yaml
zones.yaml
.HA_VERSION
*.err
.storage
*.html
creds.data
g-actions
entity_registry.yaml
